<div class="main form">
  
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main" id="main-title">App Tuckerbox</div>
      <div class="title sub">
	<span id="subTitle">Your Apps On Your Devices</span>
	<span class="version" id="version">v0.0.0</span>
      </div>
    </div>
  </div>
	
  <div class="palm-group" id="statusGroup">
    <div class="palm-group-title" id="statusTitle">Status</div>
    <div x-mojo-element="Label" id="statusLabel"></div>
  </div>
	
  <div class="palm-group" id="registerDeviceGroup">
    <div class="palm-group-title" id="registerDeviceTitle">Device Registration</div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
	<div x-mojo-element="Button" id="registerDeviceButton"></div>
      </div>
    </div>
  </div>
	
  <div class="palm-group" id="deregisterDeviceGroup">
    <div class="palm-group-title" id="deregisterDeviceTitle">Device Deregistration</div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
	<div x-mojo-element="Button" id="deregisterDeviceButton"></div>
      </div>
    </div>
  </div>
	
  <div class="palm-group" id="refreshStatusGroup">
    <div class="palm-group-title" id="refreshStatusTitle">Registration Progress</div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
	<div x-mojo-element="Button" id="refreshStatusButton"></div>
      </div>
    </div>
  </div>
	
  <div class="palm-group" id="configureFeedsGroup">
    <div class="palm-group-title" id="configureFeedsTitle">Feed Configuration</div>
    <div class="palm-list">

      <div class="palm-row">
	<div id="feedLocaleSelector" x-mojo-element="ListSelector"></div>
      </div>
      
      <div class="palm-row">
	<div x-mojo-element="Button" id="configureFeedsButton"></div>
      </div>

    </div>
  </div>
	
  <div class="palm-group" id="infoGroup">
    <div class="palm-group-title" id="infoTitle">Information</div>
    <div x-mojo-element="Label" id="infoLabel"></div>
  </div>
	
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
  <div class="palm-scrim" id="overlay">
    <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
  </div>

</div>
